@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis&display=swap');

$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.8);

body {
  margin-top: 105px;
}



.line-highlight {
  background: $primary;
  height: 3px;
  width: 150px;
  margin: auto;
  margin-bottom: 1.5rem;
}



.navbar {
  box-shadow: 2px 2px 10px $primary;
  opacity: 0.9;

  .nav-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .nav-link {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 1.6rem;
    }
  }

  h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
  }
}

#main-footer {
  h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
  }
}


#home-showcase {
  position: relative;
  background: url(../img/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;

  .primary-overlay {
    position: absolute;
    background-color: $primary-overlay;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}



.center-heading {
  width: 50%;
  margin: auto;
  border-bottom: 1px solid #ddd;
}



#authors {
  img {
    margin-top: -50px;
  }

  .card:hover{
    background: $primary;
    color: #fff;

    .fab {
      color: #fff;
    }
  }
}


.amadeus-m {
  margin-bottom: 1.9rem;
}

.zezo-m {
  margin-bottom: 1.2rem;
}

.fakhr-m {
  margin-bottom: 1.58rem;
}

#authors {
  padding-top: 3rem;
  padding-bottom: 3rem;
}



@media (max-width: 768px) {
  #home-showcase {
    
    min-height: 500px;

    h3 {
      font-size: 4rem;
    }
  }

  .center-heading {
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #ddd;
  }

  .mb-responsive {
    margin-bottom: 1rem;
  }

  .mb-responsive2 {
    margin-bottom: 3rem;
  }

  #authors {
    padding-top: 3rem;
    padding-bottom: 0rem;
  }
}



@media (max-width: 992px) {

  .mb-responsive2 {
    margin-bottom: 3rem;
  }
}